*{
    margin: 0;
    padding: 0;
}
.task{
    position: relative;
    top: 25px;
    left: 200px;
    font-size: 20px;
}
.sp1{
    color:cyan;
}
.container{
    width: 1300px;
    height: 575px;
    background-color: rgb(248, 2246, 246);
    position: relative;
    top: 50px;
    left: 115px;
}
.plush{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    gap: 20px;
}
#plushs{
    width: 35px;
    height: 30px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.list{
    width: 250px;
    height: 220px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.251);
    border-radius: 9px;
}
.list:hover{
    box-shadow: 2px 2px 30px lightgray;
}
.hr1{
    position: relative;
    top: 35px;
    
}
.h2{
    position: relative;
    top: 20px;
    left: 40px;
    color: cyan;
    font-size: 20px
}
#checkbox{
    width: 30px;
    height: 20px;
    size: 50px;
    position: relative;
    top: 50px;
    left: 10px;
    
}
.p1{
    
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 50px;
}

#checkbox1{
    width: 30px;
    height: 20px;
    position: relative;
    top: 40px;
    left: 10px;
}
.p2{
    font-size: 20px;
    position: relative;
    top: 15px;
    left: 50px;
}
.list-1{
    width: 250px;
    height: 220px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.251);
    border-radius: 9px;
}
.list-1:hover{
    box-shadow: 2px 2px 30px lightgray;
}
.list-2{
    width: 250px;
    height: 220px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.251);
    border-radius: 9px;
}
.list-2:hover{
    box-shadow: 2px 2px 30px lightgray;
}
.h3{
    position: relative;
    top: 20px;
    left: 27px;
    color: cyan;
    font-size: 20px;
}
.menu1{
    position: relative;
    left: 135px;
    top: 30px;
}
.menu2{
    position: relative;
    left: 524px;
    bottom: 190px;
}
.list-3{
    width: 250px;
    height: 220px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.251);
    border-radius: 9px;
}
.list-3:hover{
    box-shadow: 2px 2px 30px lightgray;
}
.h4{
    position: relative;
    top: 20px;
    left: 5px;
    color: cyan;
    font-size: 20px;
}
.list-4{
    width: 250px;
    height: 220px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.251);
    border-radius: 9px;
}
.list-4:hover{
    box-shadow: 2px 2px 30px lightgray;
}
.h5{
    position: relative;
    top: 23px;
    left:60px;
    color: cyan;
    font-size: 20px;
}